@charset "UTF-8";

/* base
------------------------------------------------------------- */
body {
	border-top: 6px solid #333;
	color: #333;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 1.5;
	background: #fff;
}

/* anchor */
a:link {
	color: #00e;
	text-decoration: underline;
}

a:visited {
	color: #551a8b;
	text-decoration: underline;
}

a:focus
,a:hover
,a:active {
	text-decoration: none;
}

/* text */
strong {
	font-weight: bold;
}

em,
.caution {
	color: #f00;
}

.center {
	text-align: center;
}

/* container */
.container {
	width: 950px;
	margin: 0 auto;
	padding: 10px;
}


/* header
------------------------------------------------------------- */
#header {
	padding-top: 2em;
}

#header h1 {
	margin-bottom: 0.5em;
	border-bottom: 3px solid #333;
	font-size: 146.5%;
	font-weight: bold;
}



/* nav
------------------------------------------------------------- */
#nav {
	margin-bottom: 3em;
}

#nav dl {}
#nav dl dt {
	margin-bottom: 1em;
	padding-left: 3px;
	border-left: 3px solid #333;
	font-size: 116%;
	font-weight: bold;
	line-height: 1.1;
}

#nav dl dd {}
#nav dl dd ul {}
#nav dl dd ul li {
	list-style: disc;
	margin: 0 0 0.3em 20px;
}



/* footer
------------------------------------------------------------- */
#footer {
	padding: 1em 0 2em 0;
	text-align: center;
	background-color: #333;
}

#footer .copyright {
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#footer a:link
,#footer a:visited {
	color: #fff;
}



/* content
------------------------------------------------------------- */
#content {}



/* format
------------------------------------------------------------- */
#nav .section
,#content .section {
	margin-bottom: 3em;
}

#content .section .section {
	margin-bottom: 2em;
}

/* heading */
#content h2 {
	margin-bottom: 1em;
	padding-left: 6px;
	border-bottom: 1px solid #333;
	border-left: 6px solid #333;
	font-size: 116%;
	font-weight: bold;
}

#content h3 {
	margin-bottom: 1em;
	padding-left: 6px;
	border-left: 3px solid #333;
	font-size: 116%;
	font-weight: bold;
	line-height: 1;
}

#content h4 {
	margin-bottom: 1em;
	font-size: 116%;
	font-weight: bold;
	line-height: 1;
}

/* paragraph */
#content p {
	margin-bottom: 1em;
}

/* list */
#content ul {
	margin-bottom: 1em;
}

#content ul li {
	list-style: disc;
	margin: 0 0 0.3em 20px;
}

#content ul.nonstyle {}
#content ul.nonstyle li {
	list-style: none;
	margin-left: 0;
}

#content ol {
	margin-bottom: 1em;
}

#content ol li {
	list-style: decimal;
	margin: 0 0 0.3em 30px;
}

#content dl {
	margin-bottom: 1em;
}

#content dt {
	margin-bottom: 0.5em;
	padding-left: 6px;
	border-left: 3px solid #333;
	font-weight: bold;
}

#content dd {
	margin-bottom: 1em;
	padding-left: 9px;
}

/* table */
#content table {
	margin-bottom: 1em;
}

#content table.alpha {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}

#content table.alpha th {
	padding: 6px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	font-weight: bold;
	background-color: #ddd;
}

#content table.alpha td {
	padding: 6px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	vertical-align: top;
}

#content table.alpha td ul {
	margin-bottom: 0;
}

/* cols */
#content .leftbox {
	display: inline;
	float: left;
}

#content .centerbox {
	display: inline;
	float: left;
}

#content .rightbox {
	display: inline;
	float: right;
}

/* cols 1-1 */
#content .cols-1-1 {
	margin-bottom: 1em;
}

#content .cols-1-1 .leftbox,
#content .cols-1-1 .rightbox {
	width: 444px;/* 468-24 */
}

#content .cols-1-1 .rightbox {}

/* cols 1-2 */
#content .cols-1-2 {
	margin-bottom: 1em;
}

#content .cols-1-2 .leftbox {
	width: 288px;/* 312-24 */
}

#content .cols-1-2 .rightbox {
	width: 600px;/* 524-24 */
}

/* cols 2-1 */
#content .cols-2-1 {
	margin-bottom: 1em;
}

#content .cols-2-1 .leftbox {
	width: 600px;/* 624-24 */
}

#content .cols-2-1 .rightbox {
	width: 288px;/* 312-24 */
}

/* cols 1-1-1 */
#content .cols-1-1-1 {
	margin-bottom: 1em;
}

#content .cols-1-1-1 .leftbox,
#content .cols-1-1-1 .centerbox,
#content .cols-1-1-1 .rightbox {
	width: 283px;/* 307-24 */
}

#content .cols-1-1-1 .centerbox {
	margin-left: 14px;
}

/* hr */
#content .hr {
	height: 2px;
	margin-bottom: 1em;
	border-bottom: 2px solid #333;
}

#content .hr hr {
	display: none;
}

/* icon */
#content a.popup {}
#content a.external {}
#content a.mailto {}
#content a.pdf {}
#content a.doc {}
#content a.xls {}
#content a.ppt {}
#content a.zip {}

/* other */
#content pre,
#content blockquote,
#content .box {
	margin-bottom: 1.5em;
	padding: 12px;
	border: 1px solid #999;
	line-height: 1.5;
	background-color: #ddd;
}

#content .box p,
#content .box ul,
#content .box ol,
#content .box dl {
	margin-bottom: 0;
}

#content .pagetop {
	text-align: right;
}

#content .last-child {
	margin-bottom: 0;
}

#content .ad {
	margin-bottom: 3em;
	text-align: center;
}

.stripe,
.child,
.heightline,
.toggle {}


/* popup
------------------------------------------------------------- */
.popup .container {
	width: 580px;
}

.popup #header {
	padding-top: 1em;
}

.popup #header h1 {
	margin-bottom: 0.5em;
	border-bottom: 3px solid #333;
	font-size: 146.5%;
	font-weight: bold;
}



/* font size
-------------------------------------------------------------

	10px = 77%
	11px = 85%
	12px = 93%
	
	13px = 100% (default)
	
	14px = 108%
	15px = 116%
	16px = 123.1%
	17px = 131%
	18px = 138.5%
	19px = 146.5%
	20px = 153.9%
	21px = 161.6%
	22px = 167%
	23px = 174%
	24px = 182%
	25px = 189%
	26px = 197%

------------------------------------------------------------- */