@charset "UTF-8";
.clearfix:after,
#content .cols-1-1:after,
#content .cols-1-2:after,
#content .cols-2-1:after,
#content .cols-1-1-1:after
 {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix,
#content .cols-1-1,
#content .cols-1-2,
#content .cols-2-1,
#content .cols-1-1-1
 {
	display: inline-block;
	min-height: 1%;
}

/* Hides from IE-mac¥*/
*html .clearfix,
*html #content .cols-1-1,
*html #content .cols-1-2,
*html #content .cols-2-1,
*html #content .cols-1-1-1
 {height: 1%;}
.clearfix,
#content .cols-1-1,
#content .cols-1-2,
#content .cols-2-1,
#content .cols-1-1-1
 {display: block;}
/*End hide from IE-mac */